<a href="https://colab.research.google.com/github/basu07i1/Pyhton/blob/main/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class

In [ ]:
class Data:
    def __init__(self, name='deepika', state='up', marks=90):
        self.name = name
        self.state = state
        self.marks = marks

    def display(self):
        print(self.name, self.state, self.marks)

# Initialize an object
obj = Data()
obj.display()

deepika up 90

In [ ]:
class Dog:
    species = "Canine"  # Class attribute

    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age  # Instance attribute

# Creating an object of the Dog class
dog1 = Dog("Buddy", 3)
dog2 = Dog("Max", 5)

print(dog1.name)
print(dog1.species)
print(dog2.name)
print(dog2.species)

Buddy
Canine
Max
Canine

In [ ]:
class data:
  name = 'Deepika'
  state = 'UP'
  marks = 90

  def display(self):
    print(self.name , self.state , self.marks)

obj = data()  #We are creating an object.
print(obj.display())  #We are Calling the function.
print(obj.marks) #Call the attribute.

Deepika UP 90
None
90

#Constructors

used to initialize the variable.

In [18]:
class Data:   # Better to use PascalCase for class names
    def __init__(self, name, state, marks):
        self.name = name
        self.state = state
        self.marks = marks

    def show(self):   # Now properly indented inside the class
        print(self.name, self.state, self.marks)


# Object created outside the class
obj = Data('abc', 'UP', 98)
obj.show()
obj2 = Data('Sandeep' , 'Kolkata' , 99)
obj2.show()

abc UP 98
Sandeep Kolkata 99

Example
name , salary of Employee.

In [19]:
class Employee:
  def __init__(self, name , salary):
    self.name = name
    self.salary = salary

  def show(self):
    print(self.name , self.salary)

e1 = Employee('Deepika' , 80000)
e1.show()

Deepika 80000

#1: Create a Student class that takes name and marks as input using a constructor. Add a method display() to print student details.

In [24]:
class Student:
    def __init__(self , name , marks):
        self.name= name
        self.marks = marks

    def display(self):
        print(self.name , self.marks)

s1 = Student('nischal' , 98)
s2 = Student('Prakhar' , 89)
s1.display()
s2.display()

nischal 98
Prakhar 89

#2:Write a Car class with a constructor that initializes brand and model. Add a method info() to show car details. Use default values if nothing is passed.

In [25]:
class Car:
  def __init__(self , brand , model):
    self.brand = brand
    self.model = model


  def info(self):
    print(self.brand , self.model)

c1 = Car('maruti' , 'Alto')
c2 = Car('Tata' , 'Curvv')

c1.info()
c2.info()

maruti Alto
Tata Curvv

#3:Create a class Rectangle with constructor to initialize length and width. Write a method area() that calculates and prints the area.

In [26]:
class Rectangle:
  def __init__(self , length , width):
    self.length = length
    self.width = width

  def area(self):
    print(self.length * self.width)

r1 = Rectangle(9 , 10)
r1.area()

90